/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
  font-family: sans-serif;
}


.blok {
  padding: 20px;
}

.levy { background-color:#f1c40f ;}
.horni { background-color: #2ecc71;}
.dolni { background-color: #e74c3c;}

/* ---------------------------------------------------- */


.kontejner {
  display: flex;
}

.levy {
  /* width: 50%; */
  flex-basis: 50%;
}

.pravy {
  border: 10px solid black;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.horni {
  flex-basis: 50%;
}

.dolni {
  flex-basis: 50%;
}